<!-- <input [(ngModel)]="username"
       placeholder="alice"/>
<br/>
<label>Password</label>
<input [(ngModel)]="password"
       type="password"
       placeholder="1234###"/>
<br/>
<button (click)="login(username, password)">Login</button> -->

<div class="container">
  <ul>
    <div class="row">
      <li *ngFor="let rst of rsts">
        <div class="col-md-3">
          <img src={{rst.image_url}}>
        </div>
        <div class="col-md-9">
          <div>{{rst.name}}</div>
          <div>{{rst.rating}}</div>
        </div>
      </li>
    </div>
  </ul>
</div>
