
<!--Intro Section-->
<div class="view intro-2 hm-gradient">
  <div class="container-size-login container"></div>
  <div class="full-bg-img">

    <div class="container flex-center">
      <div class="d-flex align-items-center content-height">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-6 text-center text-md-left mb-5">
            <div class="container-small">   </div>
            <div class="row">
              <div class="col-9">          </div>
              <div class="white-text position-login">
                <h1 class="h1-responsive font-weight-bold font-kind-login">Sign up </h1>
                <h1 class="h1-responsive font-weight-bold font-kind-login"> right now! </h1>
                <hr class="hr-light">
                <h4>Find your favorite cuisine</h4>
                <h4>and share your ideas in Foodphilia</h4>
                <br>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-4 offset-xl-2">
                <div class="">
                  <h3 class="white-text login-title"><i class="fa fa-user white-text"></i>Register</h3>
                  <div *ngIf="errorFlag" class="alert alert-danger">
                    {{errorMsg}}
                  </div>
                  <div class="md-form">
                    <label for="form3" class="active">UserName</label>
                    <input [(ngModel)]="user.username" type="text" id="form3" class="form-control"
                           placeholder="username" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="md-form">
                    <label for="form2" class="active">Password</label>
                    <input [(ngModel)]="user.password" type="password" id="form2" class="form-control"
                           placeholder="password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="md-form">
                    <label for="form2" class="active">Verify Password</label>
                    <input [(ngModel)]="verifyPwd" type="password" id="form5" class="form-control"
                           placeholder="verify password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="md-form">
                    <label class="active">UserType</label>
                    <select class="select-option custom-select form-control" required [(ngModel)]="userType" (ngModelChange)="onOptionsSelected($event)" name="usertype">
                      <option class='option' *ngFor='let type of types' [value]="type">{{type}}</option>
                    </select>
                  </div>
                <br/>
                  <button class="btn btn-primary btn-block" (click)="register()">Register</button>
                  <button class="btn btn-danger  btn-block" routerLink="/login">Cancel</button>
                </div>

                <div class="text-center">
                  <hr class="hr-light mb-3 mt-4">

                  <div class="inline-ul text-center d-flex justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--bottom nav bar-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a routerLink="/faq" class="navbar-link">Frequently asked Question
      </a>
      <a routerLink="/profile" class="navbar-link">
        <span class="glyphicon glyphicon-user cl-icon-padding"></span>
      </a>
    </p>
  </div>
</nav>
