<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid row">

  <div class="navbar-text pull-left">
    <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
    </a>
  </div>
  <div class="navbar-brand cl-text-white cl-text-bold">
    {{blog.title}}
  </div>
</div>
</nav>

<div class="container">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

