
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="content-fluid navbar-text pull-left">
    <a routerLink=".." class="navbar-link header-font">
      <span class="glyphicon glyphicon-chevron-left ">
      </span>
    </a>
  </div>
  <!--<div class="navbar-text header-position">-->
    <!--<a routerLink="/search" class="navbar-link header-font">FoodPhilia</a>-->
  <!--</div>-->


  <!--<div [ngSwitch]="user.userType">-->
  <!--<div *ngSwitchCase="'support'">-->
  <a (click)="updateFaq()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
    <span class="glyphicon glyphicon-ok icon-size"></span>
  </a>
  <!--</div>-->
  <!--</div>-->
</nav>

<div class="showcase-faq">
  <div class="container-box-faq">
    <div id="scrollBody" style="position:absolute;top:0;bottom:0;left:0;right:0;overflow:scroll;height:100%;">
<div class="container move-faq">
  <form>
    <div class="form-group">

      <label for="faq-question" class="header-faq">Question</label>
      <input [(ngModel)]="faq.question" type="text" class="form-control" id="faq-question" placeholder="Question"
             [ngModelOptions]="{standalone: true}" name="question">

      <li *ngFor="let followup of followups">
        <label class="lable-size">Follow Up</label>
        {{followup}}
        <!--<textarea [(ngModel)]="followup" type="text" class="form-control" id="faq-followups" placeholder="Follow up"-->
                  <!--[ngModelOptions]="{standalone: true}">-->
          <!--</textarea>-->
      </li>
    </div>
  </form>
  <a class="btn btn-danger  btn-block" (click)="deleteFaq()">Delete FAQ</a>
</div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-link navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <a routerLink="/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>

  </div>
</nav>

