  <!--top nav bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid pull-left">
      <div class="col-sm">
        <a class="navbar-brand header-font" href="#"><strong>Foodphilia</strong></a>
      </div>
    </div>
    <div class="content-fluid navbar-text navbar-right header-user pull-right" *ngIf="!user">
      <a routerLink="/login" class="navbar-link header-login btn btn-outline-white">Login</a>
      <a routerLink="/register" class="navbar-link header-login btn btn-outline-white">Register</a>
      <!--</div>-->
    </div>
    <div class="content-fluid navbar-text navbar-right header-user pull-right" *ngIf="user && user.userType">
      <a routerLink="/profile" class="navbar-link header-login btn btn-outline-white">Profile</a>
      <a routerLink="/blog" class="navbar-link header-login btn btn-outline-white">Blogs</a>
    </div>
  </nav>

  <!--body-->
  <div class="view intro-2 hm-gradient size">
    <div class="background-transparent">
     <div class="scrollBody scroll-body">
      <div class="container flex-center container-size">
        <div class="row flex-center pt-5 mt-3">
          <div class="text-center text-md-left margins">
            <div class="white-text">
              <h1 class="h1-responsive wow fadeInLeft logo">Welcome to FoodPhilia</h1>
            </div>
            <br>
          </div>
        </div>
        <div class="container-search">
          <div class="col-md-12 input-group search">
            <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="keywords" (keyup.enter)="onEnter()">
            <span class="input-group-btn">
          <a (click)="searchRst()" class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
          </a>
           </span>
          </div>
        </div>
        <div class="row py-5" *ngIf="footerFlag">
          <div class="col-md-12 text-center footer-copyright">
            <p>Copyright: Junru Xu, Yuxin Han, Yiyang Zhang</p>
          </div>
        </div>
      </div>

       <!--search results-->
      <div class="container-list">
        <div class="col-md-12">
          <div class="widget" *ngFor = "let selectRst of searchResults" data-cycle-allow-wrap='true' data-cycle-fx='carousel' data-cycle-next='#next'>
            <div class='cycle-slideshow'>
              <figure>
                <img class="img-list" alt='A Taste of the Kitchen' [src] = "['' + selectRst.image_url]">
                <figcaption>
                  <h3 class="rst-name-font font-position">{{selectRst.name}}</h3>
                  <span class='tag'>Cuisine:&nbsp; {{selectRst.categories[0].title}}</span>
                  <span class='tag'>Price:&nbsp; {{selectRst.price}}</span>
                  <span class='tag'>Rating:&nbsp; {{selectRst.rating}}</span>
                  <p>{{selectRst.location.address1}}</p>
                  <p>{{selectRst.location.city}} &nbsp; {{selectRst.location.state}}</p>
                  <a (click)="select(selectRst)" class="blue-button button-position">Detail</a>
                  <br/>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!--bottom nav bar-->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-text pull-left">
        <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
        </a>
      </div>
      <p class="navbar-text pull-right">
        <a routerLink="/faq" class="navbar-link">Frequently asked Question
        </a>
        <a routerLink="/profile" class="navbar-link">
          <span class="glyphicon glyphicon-user cl-icon-padding"></span>
        </a>
      </p>
    </div>
  </nav>
