<div *ngIf="loadingGeoFlag" class="alert alert-info">aaaa
  {{loadingGeoMsg}}
</div>
<div class = "container">

  <div class="input-group">
    <input [(ngModel)]="latitude" type="text" class="form-control" placeholder="latitude" required>
    <input [(ngModel)]="longitude" type="text" class="form-control" placeholder="longitude" required>
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="keywords">
    <span class="input-group-btn">
      <a (click)="searchRst()" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
      </a>
    </span>
  </div>

  <div class="row">
    <div *ngFor = "let selectRst of searchResults" class="col-xs-12">
      selectRst
      {{loadingGeoMsg}}
      {{selectRst.name}}
      <img (click)="selectRst(selectRst)" width="100%" [src] = "['' + selectRst.image_url]"/>

      <p></p>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-text pull-left">
    <div *ngIf="!user || !user.userType">
      <a routerLink="/login" class="navbar-link">Log In</a>
      <a routerLink="/register" class="navbar-link">Register</a>
    </div>

    <div *ngIf="user.userType">
      <a routerLink="/profile" class="navbar-link">Profile</a>
    </div>

  </div>
</nav>

    <!--<span>-->
      <!--<p class="navbar-header pull-left">-->
        <!--<a class="content content1">-->
          <h2  class="content content1">Search A Restaurant</h2>
        <!--</a>-->
      <!--</p>-->
    <!--</span>-->

<div class="container">



<!--<this part is for listing the searching result of restaurants>-->


  <div class="row">
    <div [ngSwitch]="user.userType">
      <div *ngSwitchCase="'owner'">
        <a routerLink="../rst">Restaurant List</a>
      </div>
      <div *ngSwitchCase="'professional'">
        <a routerLink="user/blog">Blog List</a>
      </div>
    </div>
  </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="user/faq">FAQ
        <!--<span class="glyphicon glyphicon-user"></span>-->
      </a>
    </p>

  </div>
</nav>
