<!--top nav bar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/faq/new" *ngIf="user.userType == 'support'"
         class="cl-icon-padding cl-text-black">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Frequently Asked Question
    </a>
  </div>
</nav>

<!--body-->
<div class="showcase-faq">
  <div class="container-box-faq">
    <div class="scrollBody scroll-body">
      <ul class="list-group cl-list-group-borderless move-li">
        <li class="list-group-item-header cl-list-item-borderless">
          <p>Frequent Asked Questions
          </p>
        </li>
        <li class="list-group-item-element cl-list-item-borderless" *ngFor="let faq of faqs">
          <a routerLink="/faq/{{faq._id}}/page">{{faq.question}}
          </a>
          <a routerLink="/faq/{{faq._id}}" *ngIf="user.userType == 'support'">
            <span class="glyphicon glyphicon-cog pull-right glyphicon-position"></span>
          </a>
        </li>
      </ul>
  </div>
  </div>
</div>

<!--bottom nav bar-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <p class="navbar-text pull-right">
      <a routerLink="/faq" class="navbar-link">Frequently asked Question
      </a>
      <a routerLink="/profile" class="navbar-link">
        <span class="glyphicon glyphicon-user cl-icon-padding"></span>
      </a>
    </p>
  </div>
</nav>
