
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="content-fluid navbar-text pull-left">
    <a routerLink=".." class="navbar-link header-font">
      <span class="glyphicon glyphicon-chevron-left ">
      </span>
    </a>
  </div>
  <div class="navbar-text header-position">
    <a routerLink="/search" class="navbar-link header-font">FoodPhilia</a>
  </div>


  <!--<div [ngSwitch]="user.userType">-->
    <!--<div *ngSwitchCase="'support'">-->
      <a (click)="createFaq()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
        <span class="glyphicon glyphicon-ok icon-size"></span>
      </a>
    <!--</div>-->
  <!--</div>-->
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
  <!--<div class="container-fluid row">-->

    <!--<div class="navbar-text pull-left">-->
      <!--<a routerLink=".." class="cl-text-black cl-icon-padding">-->
          <!--<span class="glyphicon glyphicon-chevron-left">-->
          <!--</span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="navbar-text pull-right">-->
      <!--<a (click)="createFaq()" class="cl-icon-padding cl-text-black">-->
          <!--<span class="glyphicon glyphicon-ok">-->
          <!--</span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<a class="navbar-brand cl-text-white cl-text-bold" routerLink="/user/faq/new">-->
      <!--New Page-->
    <!--</a>-->
  <!--</div>-->
<!--</nav>-->

<div class="showcase">
  <div class="container-box">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item-header cl-list-item-borderless">
        <p>New Frequent Asked Questions
        </p>
      </li>
      <form>
        <div class="form-group">
          <label for="faq-question" class="lable-size">Question</label>
          <textarea [(ngModel)]="question" type="text" class="form-control" id="faq-question" placeholder="Question"
                 [ngModelOptions]="{standalone: true}">
          </textarea>
        </div>
      </form>
    </ul>

</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-link navbar-text pull-left">
      <a routerLink="/search">
      <span class="glyphicon glyphicon glyphicon-home color-black">
      </span>
      </a>
    </div>
    <a routerLink="/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>

  </div>
</nav>
